:root{
    --black-color: #000;
    --white-color: #fff;
    --deep-carrot-orange-color: #DF7527;
    --cultured-color: #F5F6F7;
    --gainsboro-color: #ddd;
    --chinese-silver-color: #ccc;
    --cultured-color: #f6f6f6;
    --alphabet-red-color: #ED1C24;
    --active-green-color: #6EC531;
    --yellow-flash-color: #FFE417;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}